global !p
from snippet_helpers import getModuleNameFromPath
endglobal


snippet date "insert date"
`!v strftime('%Y-%m-%d')`
endsnippet

snippet datetime "insert datetime"
`!v strftime('%Y-%m-%d %T')`
endsnippet
