global !p
from snippet_helpers import getModuleNameFromPath
endglobal

snippet img "create image"
![${VISUAL}](${VISUAL})
endsnippet

snippet url "create url"
[${VISUAL}](${VISUAL})
endsnippet

snippet jira "create jira url"
[${VISUAL}](https://planorama.atlassian.net/browse/${VISUAL})
endsnippet
