global !p
from snippet_helpers import getModuleNameFromPath
endglobal

snippet cl "cl"
console.log(${1});
endsnippet
snippet ce "ce"
console.error(${1});
endsnippet
snippet ci "ci"
console.info(${1});
endsnippet

